body {
  background-color: #181818;
}
#ipDesk {
  fill: aliceblue;
}

.oDoLive-Speed {
  fill: #ffffff;
}
.oDoLive-Status {
  fill: aliceblue;
}
#ipMob {
  fill: aliceblue;
}
.rtextnum {
  fill: #ffffff;
}
.rtextmbms {
  fill: #ffffff;
}
.cls-2 {
  stroke: #fff;
  fill: #fff;
}
.rtext {
  fill: #ffffff;
}
.Cards {
  fill: #000000;
}

.main-Gaugebg {
  stroke: #000000;
}
.uiBg {
  fill: rgb(125 119 119);
}
.progressbg {
  stroke: #202020;
}
.jitter-Mob {
  fill: #ffffff;
}

.ConnectError {
  fill: #ffffff;
}
